packages/
**/packages
pubspec.lock  // Except for application packages
**/pubspec.lock
.project
.buildlog
*.js_
*.js.deps
*.js.map

.project      // Eclipse
*.iml         // IntelliJ
*.ipr         // IntelliJ
*.iws         // IntelliJ
.idea/        // IntelliJ
.DS_Store     // Mac

*.dart.js
*.dart.precompiled.js